.profile_pic {
  border: 1px solid #ebdaf6;
  height: 200px;
  width: 210px;
  border-radius: 5px;
}
.tmpUploadImage {
  height: 200px;
  width: 210px;
  background-size: 100% 100%;
  border-radius: 5px;
}

.error-font {
  font-size: 10px !important;
}
